<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552574389333-mljlh08tnqvn5e77tjk8raes3osm353f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552574389333-mljlh08tnqvn5e77tjk8raes3osm353f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>552574389333-73o05d0hsg2o45vb19mlcu1e8d7ov6ok.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7aqT1_kfkknPc_Nqlb5IETdVbD0FSeQE</string>
	<key>GCM_SENDER_ID</key>
	<string>552574389333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hcmus.hieuho.lettutorApp</string>
	<key>PROJECT_ID</key>
	<string>let-tutor</string>
	<key>STORAGE_BUCKET</key>
	<string>let-tutor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552574389333:ios:86049c1123e6941a3c18dc</string>
</dict>
</plist>